<header class="main-header">
  <div class="logo">
    <a routerLink="/" style="text-decoration: none; color: inherit;">ReviewCentral</a>
  </div>

  <nav>
    <a routerLink="/catalogo" style="color: white; margin-right: 20px; text-decoration: none;">Catálogo</a>

    @if (authService.currentUser()) {
        @if (authService.currentUser()?.rol==='administrador') {
        <a routerLink="/panel-admin"style="color:#ffaa00;margin-right:20px;text-decoration:none;font-weight:bold;">
          Panel de administracion.
        </a>
        }
        
        <span style="color: white; margin-right: 15px;">
            Bienvenido, {{ authService.currentUser()?.nombre }}
        </span>
        <a (click)="authService.logout()" class="btn-primario" style="cursor: pointer; color: white;">Cerrar Sesión</a>
    
    } @else {
        
        <a routerLink="/login" class="btn-primario" style="margin-right: 10px; color: white;">Iniciar Sesión</a>
        <a routerLink="/registro" class="btn-primario" style="color: white;">Crear Cuenta</a>
        
    }
  </nav>
</header>