/* src/styles.css */
:root {
    --primary-color: #00aaff;
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --text-muted: #888;
    --input-bg: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-color);
    min-height: 100vh;
}

/* sstilos para botones genericos */
.btn-primario {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-primario:hover {
    background-color: #0088cc;
}